@page
@using Microsoft.AspNetCore.Http
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    if(!HttpContext.Session.Keys.Contains("sessionkey"))
    {
        var key = System.Security.Cryptography.RandomNumberGenerator.GetInt32(10000).ToString();
        HttpContext.Session.SetString("sessionkey", key);
    }
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
